* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    list-style: none;
}

html {
    font-size: 12px;
    font-family: 'sono', sans-serif;
}

body {
    background-image: url(../img/93Z_2109.w023.n001.1077B.p1.1077.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    height: 100vh;
}

body .inimigo-goblin {
    position: relative;
    bottom: -401px;
    left: 582px;
}

body .inimigo-goblin:hover {
    cursor: url("../img/cursor.cur"), crosshair;
}

.div-main {
    position: absolute;
    width: 1300px;
    height: 550px;
    left: 30px;

}

.main {
    position: absolute;
    display: block;
    width: 80%;
    height: 100%;
    left: 122px;
    top: -21px;
}

.card {
    position: absolute;
    background-image: url('../img/backgroundpixel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 400px;
    left: 20px;
    top: 50px;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card .div-info-header {
    display: flex;
}

.card .div-info-header .lvl {
    position: absolute;
    color: chartreuse;
    left: 197px;
}

.card .div-info-header .num-level {
    color: chartreuse;
    border-radius: 20px;
    background-color: black;
}

.div-info-header {
    display: flex;
    justify-content: space-between;
    border-bottom-right-radius: 15px;
    color: red;
}

.card .div-classe {
    font-family: 'Acme', sans-serif;
    position: absolute;
    top: 46px;
    color: turquoise;
}

.card .div-classe img {
    position: absolute;
    width: 25px;
    left: 64px;
    bottom: 1px;
}

.div-boneco-perfil .char {
    position: absolute;
    width: 260px;
    top: 71px;
    left: 39px;
    transition: 0.6s ease-in-out;
}

.main .div-boneco-perfil .buff-char {
    position: absolute;
    width: 55px;
    top: 90px;
    left: 142px;
    opacity: 0;
    transition: 0.6s ease-in-out;

}

.main .div-boneco-perfil .buff-char.ativo {
    opacity: 0.7;
}

.main .icons {
    position: relative;
    flex-direction: column;
    height: 150px;

}

.card .icons .backpack {
    position: relative;
    border: 1px solid grey;
    background-color: grey;
    z-index: 1;
    width: 35px;
    top: 45px;
}

.card .icons .backpack:hover {
    border: 2px solid orangered;
}

.card .icons .spells {
    position: relative;
    border: 1px solid grey;
    background-color: grey;
    z-index: 1;
    width: 35px;
    top: 97px;
    left: -42px;
}

.card .icons .spells:hover {
    border: 2px solid orangered;
}

.card .icons .levels {
    position: relative;
    border: 1px solid grey;
    background-color: grey;
    z-index: 1;
    width: 35px;
    top: 149px;
    left: -85px;
}

.card .icons .levels:hover {
    border: 2px solid orangered;
}


.card .status-div {
    display: inline-block;
    position: relative;
    top: 206px;
    left: 40px;
}

.card .status-div .hp {
    position: relative;
    appearance: none;
    width: 226px;
    height: 28px;
    padding-bottom: 10px;
    top: 31px;
    left: 1px;
}

.card .status-div .hp::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0, 0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #f44, #f22);

    border-radius: 25px;
    background-size: 35px 20px, 100% 100%, 100% 100%;

}


.card .status-div .mp {
    position: absolute;
    appearance: initial;
    width: 226px;
    height: 28px;
    padding-bottom: 10px;
    top: 60px;
    left: 1px;
}

.card .status-div .mp::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg,
            transparent 33%, rgba(0, 0, 0, .1) 33%,
            rgba(0, 0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top,
            rgba(255, 255, 255, .25),
            rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #4040ff, #0000cc);

    border-radius: 25px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}


.card .nome-status-div {
    color: white;
    position: relative;
    top: 210px;
    left: 6px;
    font-size: 10px;
}

.card .nome-status-div .h2hp {
    padding-bottom: 8px;
}

.main .inventario-div {
    /* background-image: url('../img/backgroundCard1.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    display: none;
    position: absolute;
    width: 200px;
    height: 250px;
    left: 562px;
    top: 148px;
    border-radius: 12px;
    border: 2px solid orangered;
    padding: 15px;
    transition: 0.3s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main .inventario-div .titulo-backpack {
    font-family: 'Acme', sans-serif;
    color: red;
    position: absolute;
    top: 14px;
    left: 49px;
}

.main .inventario-div .icone-mochila {
    position: absolute;
    width: 27px;
    right: 17px;
    top: 8px;
    opacity: 0.6;
}

.main .inventario-div.open {
    display: inline-block;
}

.main .inventario-div .div-potions {
    height: 200%;
    overflow-wrap: break-word;
}

.main .inventario-div .hp-potion {
    position: absolute;
    width: 42px;
    height: 37px;
    top: 60px;
}

.main .inventario-div .hp-potion:hover {
    border: 2px solid orangered;
}

.main .inventario-div .mana-potion {
    position: absolute;
    width: 42px;
    height: 37px;
    top: 60px;
    left: 69px;
}

.main .inventario-div .mana-potion:hover {
    border: 2px solid orangered;
}

.main .inventario-div .super-hp-potion {
    position: absolute;
    width: 42px;
    height: 37px;
    top: 60px;
    left: 123px;
}

.main .inventario-div .super-hp-potion:hover {
    border: 2px solid orangered;
}

.main .inventario-div .super-mana-potion {
    position: absolute;
    width: 42px;
    height: 37px;
    top: 113px;
}

.main .inventario-div .super-mana-potion:hover {
    border: 2px solid orangered;
}

.potion-consumed {
    display: none;
}

.main .inventario-div hr {
    position: absolute;
    top: 44px;
    width: 163px;
}

.main .spells-div {
    /* background-image: url('../img/backgroundCard1.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    display: none;
    position: relative;
    width: 455px;
    height: 140px;
    border-radius: 12px;
    border: 2px solid orangered;
    padding: 15px;
    left: 547px;
    top: -185px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main .spells-div .titulo-spells {
    font-family: 'Acme', sans-serif;
    color: red;
    position: absolute;
    top: 11px;
    left: 197px;
}

.main .spells-div.open {
    display: block;
}

.main .spells-div .icon-spells {
    position: absolute;
    width: 27px;
    right: 156px;
    top: 4px;
    opacity: 0.6;
}

.main .spells-div .invisibilidade {
    position: absolute;
    width: 63px;
    height: 63px;
    top: 39px;
}

.main .spells-div .invisibilidade:hover {
    border: 2px solid orangered;
}

.main .spells-div .buff-critico {
    position: absolute;
    width: 63px;
    height: 63px;
    top: 39px;
    left: 105px;
    opacity: 0.9;
}

.main .spells-div .buff-critico:hover {
    border: 2px solid orangered;
}


.div-boneco-perfil .char.active {
    opacity: 0.2;
}

.main .div-levels {
    /* background-image: url('../img/backgroundCard1.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    display: none;
    position: relative;
    width: 247px;
    height: 250px;
    border-radius: 12px;
    border: 2px solid orangered;
    padding: 15px;
    left: 771px;
    top: 148px;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main .div-levels.open {
    display: flex;
    position: absolute;
}


.main .div-card-equip {
    position: absolute;
    background-image: url('../img/backgroundCard1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 241px;
    height: 400px;
    left: 311px;
    top: -1px;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.main .card-equip .titulo-equipaments {
    font-family: 'Acme', sans-serif;
    color: red;
    position: absolute;
    top: 14px;
    left: 49px;
}

.main .card-equip {
    position: relative;
    height: 400px;
    top: -15px;
}

.main .card-equip .icon-equip {
    position: relative;
    width: 45px;
    left: 173px;
    top: 2px;
    opacity: 0.3;
}

.main .card-equip .icon-helmet {
    position: absolute;
    left: 75px;
    top: 82px;
    width: 62px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}

.main .card-equip .icon-armor {
    position: absolute;
    left: 75px;
    top: 177px;
    width: 62px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}

.main .card-equip .icon-leg {
    position: absolute;
    left: 75px;
    top: 269px;
    width: 62px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}

.main .card-equip .icon-anel {
    position: absolute;
    left: 14px;
    top: 345px;
    width: 41px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}

.main .card-equip .icon-anel2 {
    position: absolute;
    right: 14px;
    top: 345px;
    width: 41px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}


.main .card-equip .icon-colar {
    position: absolute;
    left: 14px;
    top: 93px;
    width: 41px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}

.main .card-equip .icon-aljava {
    position: absolute;
    right: 14px;
    top: 93px;
    width: 41px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}

.main .card-equip .icon-glove {
    position: absolute;
    left: 14px;
    top: 279px;
    width: 41px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}

.main .card-equip .icon-boot {
    position: absolute;
    right: 14px;
    top: 279px;
    width: 41px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}

.main .card-equip .icon-sword {
    position: absolute;
    left: 0px;
    top: 177px;
    width: 62px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}

.main .card-equip .icon-shield {
    position: absolute;
    right: 0px;
    top: 177px;
    width: 62px;
    opacity: 0.3;
    background-color: sienna;
    border-radius: 4px;
    border: 1px solid rosybrown;
}

.footer .copy {
    font-size: 14px;
    background-color: grey;
    position: absolute;
    bottom: 20px;
    right: 28px;
    border: 1px solid;
}

.footer .contact {
    font-size: 14px;
    background-color: grey;
    position: absolute;
    right: 20px;
    bottom: 0px;
    border: 1px solid;
}

.main .div-levels .titulo-levels {
    position: absolute;
    top: 14px;
    left: 86px;
    color: red;
}

.main .div-levels .div-levels-progress {
    display: flex;
    position: absolute;
    top: 30px;
    left: 20px;
}

.main .div-levels .div-levels-progress .progress-ataque {
    position: absolute;
    top: 27px;
    left: 80px;
    width: 100px;
    height: 20px;
}

.main .div-levels .div-levels-progress .progress-forca {
    position: absolute;
    top: 57px;
    left: 80px;
    width: 100px;
    height: 20px;
}

.main .div-levels .div-levels-progress .progress-def {
    position: absolute;
    top: 87px;
    left: 80px;
    width: 100px;
    height: 20px;
}

.main .div-levels .div-levels-progress .progress-sorte {
    position: absolute;
    top: 117px;
    left: 80px;
    width: 100px;
    height: 20px;
}

.main .div-levels .div-levels-progress .progress-agilidade {
    position: absolute;
    top: 147px;
    left: 80px;
    width: 100px;
    height: 20px;
}


.main .status-div .barra-evolucao {
    position: absolute;
    top: 90px;
    left: 80px;
    width: 145px;
    height: 20px;
}



.main .div-levels .div-levels-nomes .titulo-ataque {
    color: aqua;
    font-size: 12px;
    position: absolute;
    top: 30px;
    left: 2px;
}

.main .div-levels .div-levels-nomes .titulo-forca {
    color: aqua;
    font-size: 12px;
    position: absolute;
    top: 60px;
    left: 2px;
}

.main .div-levels .div-levels-nomes .titulo-defesa {
    color: aqua;
    font-size: 12px;
    position: absolute;
    top: 90px;
    left: 2px;
}

.main .div-levels .div-levels-nomes .titulo-sorte {
    color: aqua;
    font-size: 12px;
    position: absolute;
    top: 120px;
    left: 2px;
}

.main .div-levels .div-levels-nomes .titulo-agilidade {
    color: aqua;
    font-size: 12px;
    position: absolute;
    top: 150px;
    left: 2px;
}


.main .nome-status-div .titulo-evolucao {
    color: chartreuse;
    font-size: 12px;
    position: absolute;
    top: 60px;
    left: 17px;
}